.main {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    background: #fff;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px 20px;
}

.route_btn {
    font-weight: 600;
    margin: 10px 0;
    font-size: 17px;
    padding: 10px 30px;
    height: 40px;
    color: #545454;
}

.route_btn:hover, .active_route_btn {
    border-bottom: 2px solid rgba(37, 146, 247,0.8);
}

.route_inner {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 350px;
}

.input {
    width: 260px;
    padding: 10px;
    border-radius: 0;
    outline-style: none;
    margin: 10px;
    display: block;
    border: none;
    border-bottom: 1px solid #B5B5B5;
}

.password {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 50px;
}
.btn_password{
    color: #676767;
}
.auth_btn {
    background: #2592F7;
    border-radius: 30px;
    color: #fff;
    padding: 10px 45px;
    max-width: 150px;
    font-weight: 600;
    border: none;
}
.auth_btn:hover{
    opacity: 0.9;
}
.string {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 0;
    color: #888888;
}

.line {
    width: 100px;
    height: 1px;
    background: #bfbfbf;
    margin: 0 10px;
}

.social {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social_btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #B5B5B5;
    background: #ffffff;
}
.checkbox_wrapper{
    margin: 20px 0 30px;
    cursor: pointer;
    color: #4c4c4c;
    font-size: 15px;
}

@media screen and (max-width: 770px){
    .main{
        justify-content: center;
    }
}
@media screen and (max-width: 375px){
    .input{
        width: 240px;
    }
}