.main{
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #888888;
    padding: 3px 3px 3px 10px   ;
}
.parameter{
    margin: 0;
}
.delete_btn{
    width: 20px;
    height: 20px;
    background: url("close.svg") no-repeat;
    background-position: center;
    background-size: 11px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid #888888;
}